/* Write your CSS code here */
.nav-Bar {
  padding-top: 50px;
  margin-left: 15px;
  padding: 40px;
}
.logo-Container {
  display: flex;
}
.nav-logo-size {
  height: 60px;
  width: 60px;
  padding: 10px;
}
.logo-heading {
  font-family: 'roboto';
  font-size: 30px;
  padding-top: 3px;
  font-weight: bold;
}
.options-Container {
  display: flex;
  align-items: center;
}
.list-items {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  color: #12022f;
  font-family: 'roboto';
  font-weight: bold;
}
.nav-items-Container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
